<router-outlet></router-outlet>
<div class="ui padded segment">
  <h2 class="ui left floated header">Challenge Management</h2>
  <button routerLink="add" class="ui right floated green button">Add Challenge</button>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Type</th>
        <th>Instruction</th>
        <th>Link</th>
        <th>Hashtag</th>
        <th>Rewards</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of challenges">
        <td width="5%" data-label="Id">{{ c.id }}</td>
        <td width="15%" data-label="Title">{{ c.title }}</td>
        <td width="10%" data-label="Type">Facebook Share</td>
        <td width="20%" data-label="Instruction">{{ c.instruction }}</td>
        <td width="20%" data-label="Instruction">{{ c.link }}</td>
        <td width="10%" data-label="Hashtag">{{ c.hashtag }}</td>
        <td width="10%" data-label="Reward">{{ c.rewards }}</td>
        <td width="10%" data-label="Actions">
          <div class="ui icon buttons">
              <button class="ui button"><i class="angle right icon"></i></button>
              <button class="ui button"><i class="trash icon"></i></button>
              <button class="ui button"><i class="pencil icon"></i></button>
              <button class="ui button"><i class="key icon"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>