<div class="ui blue top attached inverted menu ">
  <a class="item" (click)="sidebar.toggle()">
      <i class="sidebar icon"></i> Menu
  </a>
  <a class="ui item right">
    <div class="ui avatar image">
      <img src="assets/logo.png">
    </div>
    <div class="middle aligned content">
      <h3 class="header">Tara G! Tara Game? Tara Go!</h3>
    </div>
  </a>
  <a class="item right" href="https://taragame.appspot.com/landing">
    <i class="power icon"></i> Logout
  </a>
</div>
<sui-sidebar-container class="ui bottom attached segment">
  <sui-sidebar class="ui inverted blue labeled icon left inline vertical sidebar menu uncover visible" #sidebar>
    <a class="item" routerLink="admin">
      <i class="home icon"></i>
      Home
    </a>
    <a class="item" routerLink="admin/travelers">
      <i class="suitcase icon"></i>
      Traveller
    </a>
    <a class="item" routerLink="business/challenge" >
      <i class="handshake icon"></i>
      Business
    </a>
    <a class="item">
      <i class="calendar icon"></i>
      History
    </a>
  </sui-sidebar>
  <sui-sidebar-sibling [isDimmedWhenVisible]="true">
      <div class="ui basic segment">
        <div class="ui grid">
          <div class="twelve wide column">
            <router-outlet></router-outlet>
          </div>
          <div class="four wide column">
            <!-- <div class="ui segment"> -->
              <div class="ui feed">
                <div class="event">
                  <div class="label">
                    <img src="">
                  </div>
                  <div class="content">
                    <div class="summary">
                      <a class="user">
                        Alexis Alleyah
                      </a> take "Facebook Share" challenge
                      <div class="date">
                        3 Days Ago
                      </div>
                    </div>
                    <div class="meta">
                      <a class="info">
                        <i class="info icon"></i> Completed 
                      </a>
                    </div>
                  </div>
                  
                </div>
               
              </div>
              <div class="ui feed">
                <div class="event">
                  <div class="label">
                    <img src="https://platform-lookaside.fbsbx.com/platform/profilepic/?asid=2371958112854453&height=50&width=50&ext=1560489984&hash=AeSJkS_pgTGu60E5">
                  </div>
                  <div class="content">
                    <div class="summary">
                      <a class="user">
                        Virgilio Legaspi
                      </a> take "Facebook Share" challenge
                      <div class="date">
                        5 Days Ago
                      </div>
                    </div>
                    <div class="meta">
                      <a class="info">
                        <i class="info icon"></i> Completed
                      </a>
                    </div>
                  </div>
                  
                </div>
               
              </div>
              
            <!-- </div> -->
          </div>
        </div>
      </div>
  </sui-sidebar-sibling>
</sui-sidebar-container>
