
<div class="ui padded basic segment">
  <h3 class="ui top attached header">
    <i class="chart line icon"></i>
    Statistics
  </h3>
  <div class="ui teal attached segment grid">
    <div class="ui statistics five column row">
      <div class="statistic column">
        <div class="value">
          10000
        </div>
        <div class="label">
          Visitors
        </div>
      </div>
      <div class="statistic column">
        <div class="value">
          <i class="facebook icon"></i>
          200
        </div>
        <div class="label">
          Facebook likes
        </div>
      </div>
      <div class="statistic column">
        <div class="value">
          <i class="twitter icon"></i>
          200
        </div>
        <div class="label">
          Twitter Followers
        </div>
      </div>
      <div class="statistic column">
        <div class="value">
          <i class="google play icon"></i>
          200
        </div>
        <div class="label">
          Playstore downloads
        </div>
      </div>
      <div class="statistic column">
        <div class="value">
          <i class="gamepad icon"></i>
          600
        </div>
        <div class="label">
          Challenges
        </div>
      </div>
    </div>
  </div>

  <div class="ui grid">
    <div class="ui two column row">

      <div class="column">
        <h3 class="ui top attached header">
          <i class="suitcase icon"></i>
          <div class="content">
            Travellers 
            <div class="ui green circular horizontal label">20</div>
          </div>
        </h3>
        <div class="ui teal attached segment">
          <div class="ui vertical labeled icon buttons fluid basic">
            <button class="ui button">
              <i class="user plus icon"></i>
              Add a traveller
            </button>
            <button class="ui button">
              <i class="trash alternate outline icon"></i>
              Delete a traveller
            </button>
            <button class="ui button">
              <i class="pencil alternate icon"></i>
              Edit a traveller
            </button>
            <button class="ui button">
              <i class="key icon"></i>
              Forgot password
            </button>
          </div>
        </div>
      </div>

      <div class="column">
        <h3 class="ui top attached header">
          <i class="handshake icon"></i>
          <div class="content">
            Businesses
            <div class="ui green circular horizontal label">1</div>
          </div>
        </h3>
        <div class="ui teal attached segment">
          <div class="ui vertical labeled icon buttons fluid basic">
            <button class="ui button">
              <i class="user plus icon"></i>
              Add a business
            </button>
            <button class="ui button">
              <i class="trash alternate outline icon"></i>
              Delete a business
            </button>
            <button class="ui button">
              <i class="pencil alternate icon"></i>
              Edit a business
            </button>
            <button class="ui button">
              <i class="key icon"></i>
              Forgot business
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>